Port 2222
PidFile /ide/.project/.ssh/run/sshd.pid
UsePrivilegeSeparation no
HostKey /ide/.project/.ssh/ssh_host_rsa_key
HostKey /ide/.project/.ssh/ssh_host_dsa_key
HostKey /ide/.project/.ssh/ssh_host_ecdsa_key
PasswordAuthentication no
RSAAuthentication yes
PubkeyAuthentication yes
X11Forwarding yes
LogLevel VERBOSE