Port 2222
PidFile /ide/.project/.root.ssh/run/sshd.pid
UsePrivilegeSeparation no
AuthorizedKeysFile /ide/.project/.root.ssh/root.key.pub
HostKey /ide/.project/.root.ssh/ssh_host_rsa_key
HostKey /ide/.project/.root.ssh/ssh_host_dsa_key
HostKey /ide/.project/.root.ssh/ssh_host_ecdsa_key
PasswordAuthentication no
UsePAM no
PermitRootLogin yes
PermitEmptyPasswords no
RSAAuthentication yes
PubkeyAuthentication yes
X11Forwarding yes
X11UseLocalHost no
LogLevel VERBOSE
AllowUsers root