Port 2222
PidFile /lexet/.project/.ssh/run/sshd.pid
UsePrivilegeSeparation no
AuthorizedKeysFile /lexet/.project/.ssh/key.pub
HostKey /lexet/.project/.ssh/ssh_host_rsa_key
HostKey /lexet/.project/.ssh/ssh_host_dsa_key
HostKey /lexet/.project/.ssh/ssh_host_ecdsa_key
PasswordAuthentication no
UsePAM no
PermitRootLogin no
PermitEmptyPasswords no
RSAAuthentication yes
PubkeyAuthentication yes
X11Forwarding yes
X11UseLocalHost no
LogLevel VERBOSE
AllowUsers aromanov